<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.benqzl.dao.production.UnitTimeDateMapper" >
  <resultMap id="BaseResultMap" type="com.benqzl.pojo.production.UnitTimeDate" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="unitid" property="unitid" jdbcType="VARCHAR" />
    <result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
    <result column="pvalue" property="pvalue" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, unitid, cdate, pvalue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from unit_timedate
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from unit_timedate
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.benqzl.pojo.production.UnitTimeDate" >
    insert into unit_timedate (Id, unitid, cdate, 
      pvalue)
    values (#{id,jdbcType=VARCHAR}, #{unitid,jdbcType=VARCHAR}, #{cdate,jdbcType=TIMESTAMP}, 
      #{pvalue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.benqzl.pojo.production.UnitTimeDate" >
    insert into unit_timedate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="unitid != null" >
        unitid,
      </if>
      <if test="cdate != null" >
        cdate,
      </if>
      <if test="pvalue != null" >
        pvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="unitid != null" >
        #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pvalue != null" >
        #{pvalue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.benqzl.pojo.production.UnitTimeDate" >
    update unit_timedate
    <set >
      <if test="unitid != null" >
        unitid = #{unitid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null" >
        cdate = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pvalue != null" >
        pvalue = #{pvalue,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.benqzl.pojo.production.UnitTimeDate" >
    update unit_timedate
    set unitid = #{unitid,jdbcType=VARCHAR},
      cdate = #{cdate,jdbcType=TIMESTAMP},
      pvalue = #{pvalue,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>